.RMHotelContainer {
    position: absolute;
    background-color: transparent;
    width: 100%;
    display:block;
}

.RMHOHeaderRow {
  display: table;
  width: 100%;
  background-color: var(--secondary_header_menu_background);
  height: 2em;
  padding: 0.3em 0em 0em 0em; 
}

.RMHOHeaderItem {
  display: table-cell;
  text-align: center;
  cursor: pointer;
  font-size: var(--ho_header_font_size);
  font-weight: var(--ho_header_font_weight);
}

  .RMHOHeaderItem:hover {
    color: var( --selected_ho_color);
  }

.RMHOWorkarea {
    width: 100%;
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 5em;
    overflow: auto;
}

.RMHOContentTable {
  display: table;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  background-color: var( --color-static-background);
}

.RMHOContentRow {
    display: table-row;
    line-height: 1em;
}

.RMHOContentCell {
  display: inline-block;
  margin-bottom: 0.5em;
  width: 100%;
}

.RMHOActionButton {
    position: absolute;
    bottom: 5em;
    right: 5em;
    background-color: var(--action_button_background_color);
    color: var(--action_button_color);
    line-height: 2.25em;
    width: 3.5em;
    cursor: pointer;
}

    .RMHOActionButton:hover {
        color: var(--hover_highlight);
    }
    .HOItemInputCell {
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    border-radius: 0.2em;
    float: right;
}

.HOItemInputCell:hover {
    border-color: var(--hover_highlight);
}

.RMHide {
    display: none;
}

.RMCheck {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.RMCheck:hover {
   border-color: var(--hover_highlight);
}

.RMHOLabel {
  color: var(--color-label-font);
  font-weight: var(--weight-label-font);
}

.RMHOLabel:hover {
    color: var(--hover_highlight);
}

.RMSelector {
   width: 100%;
   width: 100%;
}
.RMSelector:hover {
    border-color: var(--hover_highlight);
}
    .RMHOTableTopic {
    font-size: 20px;
    margin-top: 2em;
    color: var(--section_title_color);
}

.RMSectionTable {
  display: table;
  margin-top: 0.5em;
}

.RMSectionHeader {
  display:table-header-group;
}

.RMSectionRow {
  display:table-row;
}

.RMSectionCell {
    display: table-cell;
    border: 1px #aaaaaa solid;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.RMSectionCell:hover {
    color: var(--hover_highlight);
}


    .RMHOTableCell {
        display: table-cell;
    }

.RMSectionRow:nth-child(odd) {
    color: var(--section_table_odd_color);
    background-color: var(--section_table_odd_background_color);
}

.RMSectionRow:nth-child(even) {
  color: var(--section_table_even_color);
  background-color: var(--section_table_even_background_color);
}

.RMRefIconLink:hover {
    color: var(--hover_highlight);
}
.RMRefIconLink {
    cursor: pointer;
}

.RMRefIconButtonWrapper {
    cursor: pointer;
    background-color: transparent;
    color:white;
    border: none;
    margin-bottom: 0.5em;
}

.RMChoiceLabel {
    display:block;
}

.RMMultipleChoiceOuter {
    max-height: 9em;
    height: 9em;
    width: 100%;
}

.RMHOChoiceTitle {
}

.RMMultipleChoiceContainer {
    border: 1px solid #dddddd;
    margin-left: 0.1em;
    margin-top: 0.2em;
    width: 100%;
    overflow: auto;
    height: 100%;
}
