:root {
    --color-fresh: #f7f5e6;
    --selected_ho_color: #2044ee;
    --color-static-background: #ffffff;
    --color-label-font: #00000f;
    --weight-label-font: 400;
    --ho_header_font_size: 20px;
    --ho_header_font_weight: 600;
    --section_table_odd_color: #333a56;
    --section_table_odd_background_color: #ffffff;
    --section_table_even_color: #ffffff;
    --section_table_even_background_color: #333a56;
    --static_text_background: #eeeedd;
    --static-text-foreground: #000000;
    --secondary_header_menu_background: rgb(8,75,138,0.2);
    --section_title_color: #000010;
    --action_button_background_color: #333a56;
    --action_button_color: #ffffff;
}
